*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;

}

.container{
    display : flex;
    justify-content : center;
    align-items : center;
    width : 100%;
    height : 100%;
    position : fixed;
    background : #00FFD1;
}

.tictactoe{
    display : grid;
    grid-template-columns : minmax(0, 200px) minmax(0, 200px) minmax(0, 200px);
    width : 100%;
    max-width : 600px;
    aspect-ratio : 1 / 1;
}

.xo{
    background : #00FFD1;
    display : flex;
    justify-content : center;
    align-items : center;
    color : #FF1E1E;
    cursor : pointer;
    font-size : 120px;
    aspect-ratio : 1 / 1;
    overflow : hidden;
    position : relative;
    -webkit-tap-highlight-color : transparent;
}

.t{
    border-top : 3px solid #FF1E1E;
}

.r{
    border-right : 3px solid #FF1E1E;
}

.b{
    border-bottom : 3px solid #FF1E1E;
}

.l{
    border-left : 3px solid #FF1E1E;
}

.xo::before{
    content : '';
    width : 100%;
    height : 100%;
    background : #009b7f45;
    position : absolute;
    border-radius : 50%;
    top : 0;
    left : 0;
    transform : scale(0);
}

.xo:not(.xo:empty)::before{
    animation : clicked 0.2s ease-in-out;
}

.xo:not(.xo:empty){
    cursor : default;
}

@keyframes clicked{
    from{
        transform : scale(0);
    }
    to{
        transform : scale(1.25);
    }
}

@media screen and (max-width : 600px){
    .xo{
        font-size : 20vw;
    }
}